.header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0 30px;
}

.flexContainer {
  composes: spaceBetween from "./utils.module.css";
  position: relative;
  height: 70px;
}

@media (min-width: 768px) {
  .header {
    padding: 0 24px;
  }

  .flexContainer {
    height: 100px;
  }
}
