.flexContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 200;
}

.logo {
  width: 43px;
}

.logoText {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.logoSubText {
  font-size: 12px;
  display: none;
}

.open .logo path {
  fill: white;
}
.open .logoText,
.open .logoSubText {
  color: white;
}

@media (min-width: 768px) {
  .logo {
    width: 63px;
  }
  .logoSubText {
    display: block;
  }
}
