/* デスクトップ */
@media (min-width: 768px) {
  .btn {
    all: unset;
    outline: revert;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    width: 80px;
    height: 80px;
    position: relative;
    z-index: 200;
  }

  /* ハンバーガーメニューボタンのテキスト */
  .btnText {
    font-size: 10px;
    display: inline-block;
    transform: translateY(4px);
  }

  .open .btnText::before {
    content: "CLOSE";
  }

  .close .btnText::before {
    content: "MENU";
  }

  .btn::before,
  .btn::after,
  .btn .bar {
    grid-area: 1 / 1;
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: currentColor;
    transition: transform 0.4s;
  }

  .btn .btnText {
    grid-area: 1 / 1;
    transform: translateY(calc(100% + 7px));
  }

  .close .btn::before {
    transform: translateY(-9px);
  }

  .close .btn::after {
    transform: translateY(9px);
  }

  .close .btn {
    color: #fff;
  }

  .open .btn {
    color: white;
  }

  .open .btn::before {
    transform: rotate(45deg);
  }

  .open .btn::after {
    transform: rotate(-45deg);
  }

  .open .btn .bar {
    transform: scale(0);
  }

  .btn {
    position: absolute;
    top: 50%;
    right: 0;
    display: grid;
    place-items: center;
    transform: translate(200px, -50%);
    transition: transform 0.5s;
    background-color: #004bb1;
    border-radius: 50%;
  }

  .showBtn.btn {
    transform: translate(0, -50%);
  }

  .list {
    display: flex;
    align-items: center;
    gap: 20px;
    transition: transform 0.5s;
  }

  .list button {
    font-size: 16px;
    font-weight: bold;
  }

  .hideList {
    transform: translateY(-100px);
  }

  .open .list {
    position: fixed;
    inset: 0 -100% 0 -100%;
    z-index: 100;
    background: #004bb1;
    transform: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    transition: unset;
  }

  .open .list button {
    font-size: 18px;
    color: white;
  }

  .open .list li:first-child {
    margin-top: 175px;
  }

  /* お問い合わせの装飾 */
  .inquiry {
    color: #fff;
    padding: 11px 26px 13px 26px;
    background-color: #195cb8;
    border-radius: 50px;
  }

  .open .inquiry {
    color: #fff;
    padding: 11px 79px 13px 80px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50px;
  }
}

/* モバイル */
@media (max-width: 767px) {
  /* メニュー (オーバーレイ) */
  .btn {
    all: unset;
    outline: revert;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    width: 20px;
    height: 14px;
    position: relative;
    z-index: 200;
  }

  /* ハンバーガーメニューボタンのテキスト */
  .btnText {
    font-size: 10px;
    display: inline-block;
    transform: translateY(4px);
  }

  .open .btnText::before {
    content: "CLOSE";
  }

  .close .btnText::before {
    content: "MENU";
  }

  .close .btn {
    color: #004bb1;
  }

  .open .btn {
    color: white;
  }

  .btn {
    display: grid;
    place-items: center;
  }

  .btn::before,
  .btn::after,
  .btn .bar {
    grid-area: 1 / 1;
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    transition: transform 0.4s;
  }

  .close .btn::before {
    transform: translateY(-4px);
  }

  .close .btn::after {
    transform: translateY(4px);
  }

  .open .btn::before {
    transform: rotate(45deg);
  }

  .open .btn::after {
    transform: rotate(-45deg);
  }

  .open .btn .bar {
    transform: scale(0);
  }

  .list {
    position: fixed;
    inset: 0 -100% 0 -100%;
    z-index: 100;
    background: #004bb1;
    color: white;
    transition: transform 0.4s;
  }

  /* メニュー（オーバーレイ内の配置) */
  .list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .close .list {
    transform: translateX(100%);
  }

  .list li:first-child {
    margin-top: 110px;
  }

  .list button {
    color: white;
  }

  /* お問い合わせの装飾 */
  .inquiry {
    color: #fff;
    padding: 11px 79px 13px 80px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50px;
  }
}
